h1 {
	color: #424242;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond,
		Times, serif;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 20pt;
	font-variant: small-caps;
}

h2 {
	color: #424242;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond,
		Times, serif;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 18pt;
	font-variant: small-caps;
}

p {
	color: #424242;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond,
		Times, serif;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 14pt;
	font-variant: small-caps;
	background-color: lightblue;
}

a {
	color: #424242;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond,
		Times, serif;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 14pt;
	font-variant: small-caps;
	background-color: lightblue;
}